<!--The content below is only a placeholder and can be replaced.-->
<!--Preloader-->
<div id="hideMe">
  <div id="loader-wrapper">
    <div id="loader">
      <div class="loader-1 loader-outter">
        <div class="loader-1 loader-inner"></div>
      </div>
    </div>
  </div>
</div>

<header>

  <!-- Navbar -->
  <nav class="navbar is-fixed-top" [ngClass]="{'main__header-dark': darkModeActive}">

    <!-- Tabs -->
    <header class="main__header">
      <div class="navbar-brand columns">
        <a class="navbar-item column logo-tjd" [class.hidden] = "darkModeActive">
          <img class="center-text"  href="https://tylerdsilva.github.io/" src="src/images/Capture.JPG">
        </a>
        <h3 class="navbar-item column title" [class.colorchange]="darkModeActive" [class.textalignment]="darkModeActive">
          TYLER D'SILVA
        </h3>

        <a (click) = "toggleMenu()" role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
        <div class="navbar-menu column">
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="field is-grouped">
                <a class="mode-toggle__text control" [class.colorchange]="darkModeActive">About Me</a>
                <a class="mode-toggle__text control" [class.colorchange]="darkModeActive">Experience</a>
                <a class="mode-toggle__text control" [class.colorchange]="darkModeActive">Projects</a>
                <a class="mode-toggle__text control" [class.colorchange]="darkModeActive" target="_blank" href="src/resume/Tyler-D'Silva-Software.pdf">Resume</a>
                <div class="mode-toggle__container">
                  <span class="mode-toggle__text control" [class.colorchange]="darkModeActive">Light</span>

                  <label class="toggle-button__container">
                    <input (click)="modeToggleSwitch()" type="checkbox" class="mode-toggle__input"/>
                    <span [ngClass]="{'mode-toggle__bg-checked': darkModeActive}" class="mode-toggle__bg"></span>
                    <span [ngClass]="{'mode-toggle__circle-checked': darkModeActive}" class="mode-toggle__circle"></span>
                  </label>


                  <span class="mode-toggle__text control" [class.colorchange]="darkModeActive">Dark</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </header>

    <!-- </nav>
  </header> -->

  <main class="main__container">
    <div class="main-container__bg" [ngClass]="{'main-container__bg-dark': darkModeActive}"></div>
    <router-outlet></router-outlet>
  </main>

  <!-- <footer class="main__footer">
    <small class="copyright__text">Copyright © 2018 Tyler D'Silva</small>
  </footer> -->
