<div class="experiencewrapper" [class.dark]="darksExpMode">
<div class="experience-content">
  <div class="job-content">
    <div class="job-wrapper">
      <img class="job-image" src="https://firebasestorage.googleapis.com/v0/b/tylerjdsilva.appspot.com/o/src%2Fimages%2FSOTI.jpg?alt=media&token=9e16ca59-f909-4d1a-ab21-7ee7e3f5d27e">
      <div class="job-description">My position as a Junior Software Developer at SOTI has further increased my knowledge with new leading technologies and web applications,
        practicing with front end technologies such as Angular5, TypeScript, and Bulma.
        This experience has advanced my education to take theoretical courses and computationally practice them. With this opportunity,
        I have also experienced the purpose of a practical design, and to write clean formatted code.</div>
    </div>
  </div>

  <div class="job-content job-2">
    <div class="job-wrapper">
      <img class="job-image" src="https://firebasestorage.googleapis.com/v0/b/tylerjdsilva.appspot.com/o/src%2Fimages%2Fgroupby.png?alt=media&token=8c4ea475-4937-43c0-ac7b-46e796b03c68" alt="">
      <div class="job-description">I am currently a Full Stack Developer at Groupby Inc.  I have expanded my technical and communication skills
      to practice a different framework and learn new languages such as regular expressions, Riot.js and Node.js.  We practice Agile development, so there is consistent
    communication between members of the team.  Through this experience I have learned that code isn't only about finding a solution but looking from different perspectives
  to find solution that has the best performance, as well to constantly quality check your code to find bugs and make a responsive, lightweight design.</div>
    </div>
  </div>
</div>
</div>
