<div class="projectswrapper" [class.dark]="darksProjMode">
<h1 id="title" [class.darktitle]="darksProjMode">Projects</h1>
<div class="wrap">
<a class="tile" target="_blank" href="https://devpost.com/software/keep-fresh">
  <img class="image" src='https://firebasestorage.googleapis.com/v0/b/tylerjdsilva.appspot.com/o/src%2Fimages%2FKeep-Fresh.jpg?alt=media&token=4e88529c-8c83-4638-85c3-1f4bb91c10ca'/>
  <div class="text">
  <h1>Keep Fresh</h1>
  <h2 class="animate-text">Food Tracker</h2>
  <p class="animate-text">A mobile app that lets you identify food and keep track of expiration dates of items in your refrigerator and pantry.</p>
<div class="dots">
    <span></span>
    <span></span>
    <span></span>
  </div>
  </div>
 </a>


<a class="tile" target="_blank" href="https://github.com/tylerdsilva/Arduiano">
  <img class="image" src='https://firebasestorage.googleapis.com/v0/b/tylerjdsilva.appspot.com/o/src%2Fimages%2Fpiano.jpg?alt=media&token=31045acd-8e06-4a76-81d3-7e72fee513d4'/>
  <div class="text">
  <h1>Arduiano</h1>
  <h2 class="animate-text">The Coded Piano</h2>
  <p class="animate-text">It is a program created using an Arduino microcontroller to play musical notes on a piezo speaker.</p>
<div class="dots">
    <span></span>
    <span></span>
    <span></span>
  </div>
  </div>
 </a>

  <a class="tile" target="_blank" href="https://github.com/tylerdsilva/RC-Arduino-Car">
  <img class="image" src='https://firebasestorage.googleapis.com/v0/b/tylerjdsilva.appspot.com/o/src%2Fimages%2Frobot-car.jpg?alt=media&token=c6ceb913-a68c-4e64-8674-a1238038d4b7'/>
  <div class="text">
  <h1>RC Arduino Car</h1>
  <h2 class="animate-text">Car designed using Timers and Interrupts</h2>
  <p class="animate-text">The speed of the car was created by a pulse based on the timer, and when we wanted to control the car there were buttons which would trigger an interrupt to make the car do an action</p>
<div class="dots">
    <span></span>
    <span></span>
    <span></span>
  </div>
  </div>
 </a>
</div>
</div>
